name: Build & Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to private registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Set short git commit SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Build and push
        id: build-image
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm64
          push: true
          tags: |
            ${{ secrets.REGISTRY_URL }}/websocket-dc:${{ github.run_number }}-${{ steps.vars.outputs.sha_short }}
          build-args: ${{ secrets.ENV_FILE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
